*{
	box-sizing: border-box;
	background: rgb(255,122,122);
	}
.left{
	position: fixed;
	top: 3em;
	left: 0px;
	width: 20%;
	height: 2000px;
}
.right{
	position: fixed;
	top: 3em;
	right: 0px;
	width: 20%;
	height: 2000px;
}
.main{
	width: 60%;
	background: rgb(255,122,122);
	position: absolute;
	height: 20000px;
	left: 20%;
	top: 3em;
}

header{
	background-image: linear-gradient(180deg,rgb(122,0,0),rgb(255,122,122));
	height: 3em;
	width: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	z-index: 1;
}

header a{
	text-align: center;
	font-size: medium;
	height: 2em;
	display: inline-block;
	width: 15%;
	height: 100%;
	border: 2px solid rgb(200,0,0);
	margin: 2px;
	border-radius: 10%;
	color:rgb(100,50,50);
	position: absolute;
	text-decoration:none;
	background: url("timg.png");
	background-size:100% 100%;
	}
header a:hover div{
	animation: heada 0.5s forwards;
}
header a div{
	height: 0px;
	position: absolute;
	top: 3em;
	background: lightpink;
	text-align: center;
	overflow: hidden;
	color: black;
	width: 100%;
}
@keyframes heada{
	from{height: 0px;}
	to{height: 50px;}
}
@keyframes myimg{
	0%{opacity: 0;}
	5%{opacity: 1;}
	25%{opacity: 1;}
	30%{opacity: 0;}
	100%{opacity: 0;}
}
.main img.ppt1,.main img.ppt2,.main img.ppt3,.main img.ppt4,.main img.ppt5{
	position: absolute;
	width:80%;
	height: auto;
	top: 6em;
	left: 10%;
	opacity=0;
}
.main img.ppt1{
	animation: myimg 15s infinite;
}
.main img.ppt2{
	animation: myimg 15s 3s infinite;
}
.main img.ppt3{
	animation: myimg 15s 6s infinite;
}
.main img.ppt4{
	animation: myimg 15s 9s infinite;
}
.main img.ppt5{
	animation: myimg 15s 12s infinite;
}
.main .txtbox{
	top: 40em;
	width:90%;
	position:absolute;
	left:5%;
}
.main .txtbox .txt{
	text-indent:5%;
	float: left;
	height:500px;
} 
.main .txt img{
	float: right;
	width: 15%;
	height: auto;
	display: inline-block;
}
#一{
	color:transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(180deg,rgb(122,0,0),rgb(0,122,122));
}
#一:hover{
	animation: txt一 2s infinite alternate-reverse;
}

#二{
	background-size: 100% 100%;
	background:url("txt-2.png");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	opacity: 0;
	font-size: larger;
}
#二:hover{
	background-size: 100% 100%;
	background:url("txt-2.png");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	opacity: 1;
}
#三{
	background-size: 100% 100%;
	background:url("txt-3.png");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	opacity: 0;
	font-size: larger;
	
}
#三:active{
	background-size: 100% 100%;
	background:url("txt-3.png");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	opacity: 1;
}
@keyframes txt一{
	0%{color: rgb(122,0,0);}
	25%{color:rgb(0,122,122)}
	75%{color:rgb(0,122,122)}
	100%{color:rgb(122,0,0)}
}
